---
- name: add the Microsoft package signing key
  package:
    deb: https://packages.microsoft.com/config/ubuntu/20.04/packages-microsoft-prod.deb
  become: yes

- name: Installing .NET Core SDK
  package:
    name:
      - apt-transport-https
      - dotnet-sdk-3.1
    state: present
    update_cache: true
  become: yes
