---
- name: Fetching dotfiles
  git:
    repo: 'https://github.com/alefcarlos/dotfiles'
    dest: '/home/{{ user_name }}/git/dotfiles'
    update: no
    version: master

- name: Fetching Summon
  git:
    repo: 'https://gitlab.com/semente/summon'
    dest: '/home/{{ user_name }}/git/summon'
    update: no
    version: master

- name: Given access to summon
  file:
    path: '/home/{{ user_name }}/git/summon/summon.sh'
    owner: '{{ user_name }}'
    group: '{{ user_name }}'
    mode: 0755

- name: Summoning ZSH dotfiles
  command: 'sh /home/{{ user_name }}/git/summon/summon.sh /home/{{ user_name }}/git/dotfiles/common/zsh'