---
- name: Installing ZSH
  package:
    name: zsh
    state: present
    update_cache: true
  become: true

- name: Validate oh-my-zsh
  stat:
    path: '/home/{{ user_name }}/.oh-my-zsh/'
  register: result

- name: Installing Oh My ZSH
  shell: 'sh -c "$(curl -fsSL https://raw.github.com/robbyrussell/oh-my-zsh/master/tools/install.sh)"'
  when: result.stat is not defined

- name: Set ZSH as default shell
  user:
    name: '{{ user_name }}'
    shell: /usr/bin/zsh
  become: true
